.myBtn{
    padding: 10px 20px;
    color: black;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid #000;
    display: block;
    margin: 20px auto 0 auto;
}

.myBtn:hover{
background-color: rgb(79, 255, 131);
}