.MySelect{
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 10px;
    font-size: 14px;
    
    
}

.MySelect option{
margin: 0 auto;

}


.MySelect option:disabled{
color: rgb(16, 189, 68);

}