.MySelect{
    padding: 10px 0 10px 0;
    border: 1px solid #000;
    margin-bottom: 10px;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    max-width: 150px;
    
}

.MySelect option:disabled{
color: rgb(16, 189, 68);

}