.MySelect{
    padding: 10px 0 10px 0;
    border: 1px solid #000;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    
}

.MySelect option{
font-size: 15px;
}


.MySelect option:disabled{
color: rgb(16, 189, 68);

}